.about{
    height: 100%;
     width: 100%;
    background-color: aquamarine;
      margin-bottom: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
.primary-school{
    height: 100%;
    width: 100%;
}
.primary {
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
}
.high-school{
    height: 100%;
    width: 100%;
}
.high{
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
}
.image{
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
}